@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCaliforniaa.Models.InterviewQuestion
@{  
    Layout = "_Layout";
}
<h1>Create Blog Post</h1>

<fieldset>

    <form asp-action="QuestionCreate" asp-controller="Blog">

        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>
 
        <p>
            <label asp-for="Questionn"></label>
            <textarea asp-for="Questionn" class="form-control" placeholder="Blog post content"></textarea>
            <span asp-validation-for="Questionn"></span>
        </p>

        <p>
            <label asp-for="Answer"></label>
            <textarea asp-for="Answer" class="form-control" placeholder="Blog post content"></textarea>
            <span asp-validation-for="Answer"></span>
        </p>


        <p>
            <label asp-for="interview_id"></label>
            <textarea asp-for="interview_id" class="form-control" placeholder="interview_id"></textarea>
            <span asp-validation-for="interview_id"></span>
        </p>
        <p>
            <button type="submit">Create Post</button>
        </p>



    </form>

</fieldset>